{% extends "layout.html" %}

{% block header_includes %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signin.css') }}">
{% endblock %}

{% block body %}



  <form class="form-signin" role="form" action="{{ url_for('login') }}">

    <h2 class="form-signin-heading">Please sign in</h2>
    <input name ="username" type="email" class="form-control" placeholder="Email address" required autofocus>
    <input name="password"type="password" class="form-control" placeholder="Password" required>
    <label class="checkbox">
      <input type="checkbox" value="remember-me"> Remember me
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit" value="login">Sign in</button>
  </form>

{% endblock %}