{% extends "layout.html" %}
{% block body %}

{% if session.logged_in %}
  
{% endif %}

<ul class="task-list">
{% for entry in entries %}
  <li>
    <div class="task-checkbox">
      <input type="checkbox" class="list-child" value="">
    </div>
    <div class="task-title">
      <span class="task-title-sp">{{ entry.description }}</span>
      <span class="badge badge-sm label-success">{{ entry.due_date }}</span>
      <span class="badge badge-sm label-warning">{{ entry.status }}</span>
      <div class="pull-right hidden-phone">
        <button class="btn btn-default btn-xs">{{entry.priority}}</button>
        <button class="btn btn-success btn-xs"><i class=" fa fa-check"></i></button>
        <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
      </div>
    </div>
  </li>
{% endfor %}

<!--   <li>
    <form class="form-signin" role="form" action="{{ url_for('add_entry') }}">
      <input name ="entry" type="text" class="form-control" placeholder="Add Entry" required autofocus>
      <input name="password" type="text" class="form-control" placeholder="Priority" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit" value="login">Sign in</button>
    </form>
  </li> -->
</ul>

{% endblock %}